<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        {{!-- <script src="./js/user.js"> --}}

         </script>
         

    </head>

    <body>

       <h1>{{title}}</h1>
        <br>
        <form>
            <input placeholder="e.g india">
            <button>search</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
        <br>
        <p> Created by {{name}}</p>
        <a href="help.html">Click here for help</a>
        <br>

        <a href="about.html">click here for about us!!!</a> --}}
        <script src="./js/user.js"></script>
    </body>
</html>